<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="4.1.1" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="G1ANT.Language" version="4.106.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="MailKit" version="2.8.0" targetFramework="net461" />
  <package id="MimeKit" version="2.9.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.7.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>